
<h6 class="recommendations-title">Recommendations</h6>
<div id="recommendations" data-hook="product_recommendations">
<%= render :partial => 'spree/shared/products', :locals => { :products => @product.recommendations, :taxon => @taxon } %>
</div>

