<%= render :partial => 'spree/admin/retailers/retailer_tabs', :locals => { :current => 'Edit Retailer Details' } %>

<h1>Editing retailer</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_retailer_path(@retailer) %> |
<%= link_to 'Back', admin_retailers_path %>
