<tfoot id="order-charges" data-hook="order_details_adjustments">
  <% @order.adjustments.eligible.each do |adjustment| %>
  <% next if (adjustment.originator_type == 'Spree::TaxRate') %>
    <tr class="total">
      <td colspan="4"><strong><%= adjustment.label %></strong></td>
      <td class="total"><span><%= number_to_currency adjustment.amount %></span></td>
    </tr>
  <% end %>

  <% @order.adjustments.eligible.each do |adjustment| %>
  <% next unless (adjustment.originator_type == 'Spree::TaxRate') and (adjustment.amount > 0) %>
    <tr class="total">
      <td colspan="4"><strong><%= adjustment.label %></strong></td>
      <td class="total"><span><%= number_to_currency adjustment.amount %></span></td>
    </tr>
  <% end %>

</tfoot>
