<html>
<head>
	<style type="text/css">
		@page {size:6in 4in;margin:1.5cm;}
		body {padding:45px 45px 0 45px;margin:auto;}
		table {height:100%;}
		td {text-align:center;font:15pt sans;line-height:1.3em;}
	</style>
</head>
<body>
	<table><tr><td>
	<%= @gift.message -%>
	</td></tr></table>
</body>
</html>

