<html>
<head>
	<style type="text/css">
		@page {size:6in 4in;margin:1.5cm;}
		body {padding:0 45px;margin:auto;height:300px;}
		table {height:100%;width:100%;margin:0;}
		td {text-align:center;font:15pt sans;line-height:1.3em;vertical-align:middle;}
	</style>
</head>
<body>
	<table><tr><td>
	<%= @gift.message -%>
	</td></tr></table>
</body>
</html>

