<% if @product.has_variants? %>
	<% 	has_selected = false
		data = []
		selected_id = 0
		@product.variants.active.each_with_index do |v,index|
  			next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])
  			selected = !has_selected && (v.in_stock || Spree::Config[:allow_backorders])
			selected_id = v.id if selected 
  			has_selected = true if selected
			data << {:id => v.id, :selected => selected, :disabled => !v.in_stock && !Spree::Config[:allow_backorders], :label => variant_options(v), :image => v.images.last.attachment(:large)}
		end
	%>
	<div id="product-variants">
		<div class="variant-selector grey">
			<% if @product.sku == "JWB" %>
				<span>Select your complimentary limited-edition gift box.</span>
			<% else %>
				<h6 class="product-section-title"><%= t(:variants) %></h6>
			<% end %>
			<%= select_tag("products[#{@product.id}]", options_for_select(data.map {|d| [d[:label], d[:id]] }, selected_id )) %>
		</div>
		<div id="variant_slider">
			<div id="variant-slider-items">
				<% data.each do |item| %>
					<%= image_tag(item[:image], :style => "width:240px;", 'data-variant-id' => item[:id]) %>
				<% end %>
			</div>
			<div id="slider-gradient"></div>
			<div id='slider-left'></div>
			<div id='slider-right'></div>
		</div>
	</div>
<% end%>



