
<% engraving_item = @order.line_items.select { |line_item| line_item.variant.sku.start_with?("JWBCEB") }.first %>
<% if engraving_item && engraving_item.preferred_customization %>

	<div style="border:1px solid #888;padding:6px;">
		<b>This order requires custom engraving for all Johnnie Walker Blue Engraved bottles</b>
		<% customization_data = JSON.parse(engraving_item.preferred_customization) %>
		<% customization_data["data"].each do |key,value| %>
			<div><%= "#{key.humanize}: #{value}" %></div>
		<% end %>
	</div>
	
<% end %>
