
<div id='jzebra_dialog' style="z-index:100;display:none;position:absolute;left:400px;border:2px solid #666;width:300px;height:200px;background:#fff;padding:8px;">

	<p id="version"><strong>Status:</strong>  Determining jZebra version. Please wait...</p>
    <hr/>
    <applet name="jZebra" code="jzebra.PrintApplet.class" alt="jZebra did not load properly" archive="<%= asset_path('admin/jzebra-1.4.8.jar') -%>" width="0" height="0">
       <param name="printer" value="zebra">
    </applet><br><br>
   
	<table>
		<tr id="jzebra_shipment_row" style="display:none;">
			<td>Shipment</td>
			<td id='jzebra_shipment'></td>
		</tr>
		<tr id="jzebra_gift_message_row" style="display:none;">
			<td>Gift Message</td>
			<td id='jzebra_gift_message'></td>
		</tr>
		
		<tr>
			<td>Select Printer</td>
			<td><select id="printerList"></select></td>
		</tr>
      </table>
 	<a href="javascript:printItem();" class="button"><span>Print</span></a>
	<a href="javascript:hidePrintDialog();" class="button"><span>Cancel</span></a>
</div>

