<div style="width:660px;margin:20px auto;font:12px Georgia, 'Times New Roman', Times, serif;">
	<table border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
		<tr>
			<td width="280"><img width="277" height="57" alt="RetailBar" src="http://<%= Spree::Config[:site_url] %>/assets/mailer/logo.jpg"></td>
			<td width="280" align="right"><a style="font: 11px Georgia, 'Times New Roman', Times, serif;color:#593D2B;text-decoration:none" target="_blank" href="http://<%= Spree::Config[:site_url] %>/admin">Retailer Portal</a></td>
		</tr>
	</table>
	<div style="border-top:double #593D2B 2.25pt;margin-top:20px;padding:0 50px;">
	<p style="font: 23px Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:#C13828"">ReserveBar orders status</p>

	<p>Dear <strong><%= @retailer.name %></strong>,</p>

	<p>This is your regular status update for ReserveBar orders.</p>

	<%= render :partial => "spree/admin/shared/reminded_orders", :locals => {:retailer => @retailer} %>

	<p>Please immediately contact <a href="mailto:orders@reservebar.com">orders@reservebar.com</a> or call 203-968-0365 if you have any questions, problems or concerns about fulfilling this order.</p>

	<p>Gratefully yours,<br />
	ReserveBar.com<br />
	Good Spirits. Delivered.</p>
	</div>
</div>
