<h5 id="retailer" data-hook><%= "Retailer: #{@order.retailer.name}" %></h5><br />
<h5 id="extended_order_status" data-hook><%= "Extended Status: #{t("order_state.#{@order.extended_state}")}" %></h5><br />
