<%= "<!-- 
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: VC ReserveBar Shopping Cart Page
URL of the webpage where the tag is expected to be placed: http://reservebar.com/cart
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 11/12/2012 
-->".html_safe %>
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="http://2723186.fls.doubleclick.net/activityi;src=2723186;type=2012f487;cat=vcres410;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="http://2723186.fls.doubleclick.net/activityi;src=2723186;type=2012f487;cat=vcres410;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<%= "<!-- End of DoubleClick Floodlight Tag: Please do not remove -->".html_safe %>

<%= "<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Ardbeg ReserveBar Shopping Cart
URL of the webpage where the tag is expected to be placed: http://reservebar.com/cart
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 11/12/2012
-->".html_safe %>

<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="http://3708650.fls.doubleclick.net/activityi;src=3708650;type=2012f803;cat=ardbe874;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="http://3708650.fls.doubleclick.net/activityi;src=3708650;type=2012f803;cat=ardbe874;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<%= "<!-- End of DoubleClick Floodlight Tag: Please do not remove -->".html_safe %>

