<% if @order.state == 'address' %>
<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: VC ReserveBar Checkout Page
URL of the webpage where the tag is expected to be placed: https://reservebar.com//checkout
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 11/12/2012
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2723186.fls.doubleclick.net/activityi;src=2723186;type=2012f487;cat=vcres583;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2723186.fls.doubleclick.net/activityi;src=2723186;type=2012f487;cat=vcres583;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>

<!-- End of DoubleClick Floodlight Tag: Please do not remove -->

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Ardbeg ReserveBar Checkout Page
URL of the webpage where the tag is expected to be placed: https://reservebar.com//checkout
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 11/12/2012
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://3708650.fls.doubleclick.net/activityi;src=3708650;type=2012f803;cat=ardbe943;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://3708650.fls.doubleclick.net/activityi;src=3708650;type=2012f803;cat=ardbe943;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>

<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
<% end %>